[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
veiled_chests = "DDA1LfvE1kM8h4CcyqX4278oCYyB7QAg693QREjfNsZS"

[programs.devnet]
veiled_chests = "DDA1LfvE1kM8h4CcyqX4278oCYyB7QAg693QREjfNsZS"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
